

body {
border-style: double;
}


h1 {
   font-family: 'DatalegreyaDot';
   font-size: 90px;
   line-height: 85px;
   font-weight: normal;
   margin-bottom: 0px;
   margin-top: 40px;
   text-align: center;
}


p1 {
  font-family: 'Merriweather', serif;
  font-size: 24px;


}
